{%extends 'base.html'%}
{%load staticfiles%}
{% load custom %}
{%block body%}

	<!-- Section: services -->
    <!--<section id="service" class="home-section color-dark"style="padding-top: 90px;padding-bottom: 50px;">-->
    <section id="service" class="home-section"style="padding-top: 180px; padding-bottom: 180px;">
		<!--<div class="container marginbot-50">-->
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="section-heading text-center">
					    <div style="color:black; font-family: 'Noto Sans JP', sans-serif; font-size:300%;">Tell Me</div>
					    <p></p>
					    <div style="color:black; font-family: 'Noto Sans KR', sans-serif; font-size:120%;">Tell me 그대의 징크스! 아래 선택지를 통해 징크스 문장을 만들어보셔요!</div>
					    <p></p>

					</div>
				</div>
			</div>
        
		<!--</div>-->
		<!--<div class="text-center">-->
		    <div class="container">
                <div class="row">
                    <!--<div class="col-md-8">-->
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
        				<!--<div class="wow fadeInLeft" data-wow-delay="0.2s">-->
                        <div class="service-box"style="background-color:#FFFFFF;">
        					<!--<div class="service-icon">-->
        						<!--<span class="pe-7s-monitor pe-5x"></span> -->
        						<!--<h5 id="intro" style="color:black; font-family: 'Noto Sans KR', sans-serif;">아래에서 값을 입력해주세요!!</h5>-->
        						<p id="quot_start" style="display:inline; color:black; font-family: 'Noto Sans KR', sans-serif; font-size:200%;">" </p>
            					<p id="cause_noun_check_h1" style="display:inline; font-family: 'Noto Sans KR', sans-serif; font-size:120%;"></p>
            					<p id="cause_verb_check_h1" style="display:inline; font-family: 'Noto Sans KR', sans-serif; font-size:120%;"></p>
            					<p <i style="display:inline; font-size:120%;" class="fas fa-long-arrow-alt-right"></i> </p>
            					<p id="effect_noun_check_h1" style="display:inline; font-family: 'Noto Sans KR', sans-serif; font-size:120%;"></p>
            					<p id="effect_verb_check_h1" style="display:inline; font-family: 'Noto Sans KR', sans-serif; font-size:120%;"></p>
            					<p id="quot_end" style="display:inline; color:black; font-family: 'Noto Sans KR', sans-serif; font-size:200%;"> "</p>
        						<form action="{% url 'jinxjinx:sentence_create' %}" method='post'>
                                    <input class="btn btn-primary" type="submit" value="저장"/>
        						    {% csrf_token %}
        						    <input type="hidden" name="cause_noun" value="아래 선택" size="10" class="input" id="cause_noun_check" align="center" readonly/> 
                                    <input type="hidden" name="cause_verb" value="아래 선택" size="10" class="input" id="cause_verb_check" readonly/>
                                    <input type="hidden" name="effect_noun" value="아래 선택" size="10" class="input" id="effect_noun_check" readonly/> 
                                    <input type="hidden" name="effect_verb" value="아래 선택" size="10" class="input" id="effect_verb_check" readonly/> 
                                </form>
        				</div>
        			<!--<div class="service-desc">						-->
        		    </div>
                </div>
            </div>
            
            <div class="container"style="padding-top: 50px;">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">

                        <h6>보기를 선택하여 원인/결과 생성</h6>
            
                        <select id='category_select' name="category" onchange="changeCate()">
                            <option class="category_start" selected="selected">카테고리</option>
                            {%for category in category_list%}
                                <option class="category" value="{{category.name}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                        
                        <select id='noun_select' name="noun" onchange="changeNoun(this.value)">
                            <option class="noun_start" selected="selected">명사</option>
                             {%for noun in noun_list%}
                                <option class="noun" value="{{noun.name}}">{{noun.name}}</option>
                            {%endfor%}   
                        </select>
                        
                        <select id='verb_select' name="verb" onchange="changeVerb(this.value)">
                            <option class="verb_start" selected="selected">동사</option>
                          
                        </select>
                        
                        <button class="btn btn-warning" onclick="cause_click()">원인</button>
                        <button class="btn btn-danger" onclick="effect_click()">결과</button>
                    </div>
                </div>
            </div>
            <p>
                
            </p>
	</section>
	<!-- /Section: services -->

<!--<h1 id="category"></h1>-->
<!--<h1 id="noun"></h1>-->
<!--<h1 id="verb"></h1>-->
<!--<form action="{% url 'jinxjinx:sentence_create' %}" method='post'>-->
<!--    {% csrf_token %}-->

<!--    <input type="text" name="cause_noun" value="아래 선택" size="10" class="input" id="cause_noun_check" readonly/> -->
<!--    <input type="text" name="cause_verb" value="아래 선택" size="10" class="input" id="cause_verb_check" readonly/> ->-->
<!--    <input type="text" name="effect_noun" value="아래 선택" size="10" class="input" id="effect_noun_check" readonly/> -->
<!--    <input type="text" name="effect_verb" value="아래 선택" size="10" class="input" id="effect_verb_check" readonly/> -->
<!--    <input class="btn btn-primary" type="submit" value="Submit"/>-->
    
<!--</form>-->


<!--<br />-->
<!--<br />-->
<!--<br />-->



<script type="text/javascript">
    const changeCate = function (){
        var select_category = $('#category_select').val()
        $('#category').text(select_category)
        
        $.ajax({
          type: "POST",
          url: "{% url 'jinxjinx:category_noun'%}",
          data: {'name':select_category, 'csrfmiddlewaretoken':'{{csrf_token}}'},
          dataType: 'json',
          
          success: function(data){
            $('.noun').remove()
            $('.verb').remove()

            var noun_list = ``
            data.noun_list.forEach(function(v){
                noun_list+= `
            <option class="noun" value="${v}" >${v}</option>
            `               
            })
            $('#noun_select').append(noun_list)
            // console.log(data.noun_list)
          },
          error: function(){
            
          }
          
        })
    }
    
    const changeNoun = function (){
        var select_noun = $('#noun_select').val()
        $('#noun').text(select_noun)
        
        $.ajax({
          type: "POST",
          url: "{% url 'jinxjinx:noun_verb'%}",
          data: {'name':select_noun, 'csrfmiddlewaretoken':'{{csrf_token}}'},
          dataType: 'json',
          
          success: function(data){
            $('.verb').remove()
            var verb_list = ``
            data.verb_list.forEach(function(v){
                verb_list+= `
            <option class="verb" value="${v}" >${v}</option>
            `
            })
            $('#verb_select').append(verb_list)
            // console.log(data.verb_list)
          },
          error: function(){
            
          }
          
        })
    }
    
    
    function cause_click(){
        $('#intro').remove()
        var cause_noun = $('#noun_select').val()
        var cause_verb = $('#verb_select').val()
        $('#cause_noun_check').val(cause_noun)
        $('#cause_verb_check').val(cause_verb)
        $('#cause_noun_check_h1').text(cause_noun)
        $('#cause_verb_check_h1').text(cause_verb)
        
    }
    function effect_click(){

        var effect_noun = $('#noun_select').val()
        var effect_verb = $('#verb_select').val()
        $('#effect_noun_check').val(effect_noun)
        $('#effect_verb_check').val(effect_verb)
        $('#effect_noun_check_h1').text(effect_noun)
        $('#effect_verb_check_h1').text(effect_verb)
        
    }
    function submit_click(){

        // var effect_noun = $('#noun_select').val()
        // var effect_verb = $('#verb_select').val()
        // $('#effect_noun_check').val(effect_noun)
        // $('#effect_verb_check').val(effect_verb)
        var cause = $('#cause_noun_check').val() + $('#cause_verb_check').val()
        var effect = $('#effect_noun_check').val() + $('#effect_verb_check').val()

        console.log(cause)
        console.log(effect)
        
        
    }
    
    
    
</script>
{%endblock%}