{% extends 'base.html' %}

{%block body%}
<!--{% comment %}-->
<!--{%if my_sentence_list %}-->
<!--    {%for sentence in my_sentence_list%}-->
<!--        <p style="color:black; font-family: 'Noto Sans KR', sans-serif; font-size:120%;">{{sentence.cause_noun}} {{sentence.cause_verb}} -> {{sentence.effect_noun}} {{sentence.effect_verb}}</p>-->
        
<!--    {%endfor%}-->
<!--{%else%}-->
<!--{%endif%}-->
<!--{% endcomment %}-->
<style>
table {
    font-family: 'Noto Sans JP', 'Noto Sans KR', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;


}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

.no-right-border {
    border-right-color: transparent;
    border-left-color: transparent;

}

</style>

    <section id="share" class="home-section"style="padding-top: 70px; padding-bottom: 200px;">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div style="color:black; font-family: 'Noto Sans JP', sans-serif; font-size:300%;">Share</div>
                    <p></p>
                    <div style="color:black; font-family: 'Noto Sans KR', sans-serif; font-size:120%;">징크스 공유!</div>
                    <div style="color:black; font-family: 'Noto Sans KR', sans-serif; font-size:110%;">어떤 징크스가 핫한지 살펴보셔요.</div>
                    <p></p>

                    <table align="center">
                        <thead> 
                            <tr style="background-color: #dbdbdb;">
                                <th class="no-right-border" ></th>
                                <th class="no-right-border" >원인</th>
                                <th class="no-right-border" ></th>
                                <th class="no-right-border" >결과</th>
                                <th class="no-right-border" >개수</th>
                            </tr>
                        </thead>
                        
                        {%for sentence in sentence_list%}
                        <tbody>
                            <tr>
                                <td class="no-right-border" style="width: 10px">
                                    {% if sentence.user.all.count >= 10 %}
                                        <i class="fas fa-crown" style="color:gold"></i>
                                    {% endif %}
                                </td>
                                <td class="no-right-border" style="width: 180px">
                                    <div>{{sentence.cause_noun}} {{sentence.cause_verb}} </div>
                                </td>
                                <td class="no-right-border" style="width: 10px;">
                                    <div><i class="fas fa-long-arrow-alt-right"></i></div>
                                </td>
                                <td class="no-right-border" style="width: 180px;">
                                    <div>{{sentence.effect_noun}} {{sentence.effect_verb}}</div>
                                </td>
                                <td class="no-right-border" style="width: 40px;">
                                    <div>{{sentence.user.all.count}}</div>
                                </td>
                            </tr>
                        </tbody>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>


<!--<h1 style="font-family: 'Noto Sans KR', sans-serif;">인기 징크스</h1>-->
<!--    {%for sentence in sentence_list%}-->
<!--        <p style="color:black; font-family: 'Noto Sans KR', sans-serif; font-size:120%;">{{sentence.cause_noun}} {{sentence.cause_verb}} <i class="fas fa-long-arrow-alt-right"></i> {{sentence.effect_noun}} {{sentence.effect_verb}} / {{sentence.user.all.count}}</p>-->
        
<!--    {%endfor%}-->
    
<!--    </section>-->
<script>
    function navAddClass(){
        $('#share_li').addClass('active')
    }
</script>
{%endblock%}


