.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

#service {
	background: url(../img/wondergirls10.jpg);
	background-position: 25%;
	background-color: red;
	background: url(../img/wondergirls10.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#login {
 height:80%;
 background: url(../img/bg1.png);
 background-position: 25%;
}

.navbar-custom ul.nav li.active a {
    font-size: 18px;
    color: black;
}