.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

#service {
	background: url(../img/wondergirls4.jpeg);
	background-position: center;
	/*background-color: red;*/
}