{% extends 'base.html' %}

{% block body %}
    <style>
        img {
            border-radius: 50%;
        }
    </style>
    
    <h4>{{user.last_name}}{{user.first_name}}'s Page <img src="{{user.socialaccount_set.all.0.get_avatar_url}}" alt="Profile Picture :)" height="42" width="42"></h4>
    <p>나이: </p>
    <p>직업: </p>
   
    
{% endblock %}

<!--(function() {-->
<!--  function async_load(){-->
<!--    var s = document.createElement('script');-->
<!--    s.type = 'text/javascript';-->
<!--    s.async = true;-->
<!--    s.src = 'http://yourdomain.com/script.js';-->
<!--    var x = document.getElementsByTagName('script')[0];-->
<!--    x.parentNode.insertBefore(s, x);-->
<!--  }-->
<!--  window.attachEvent ? window.attachEvent('onload', async_load) : window.addEventListener('load', async_load, false);-->
<!--})();-->


